services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: facturacao
      POSTGRES_USER: facturacao
      POSTGRES_PASSWORD: facturacao
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
